@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0063cc;
    --secondary-color: #70b5ff;
    --accent-color: #7b7263;
    --background-color: #555358;
}

body {
    background-color: var(--primary-color);
}
h1 {
    color: var(--primary-color)
}
hr{
    border-color: var(--accent-color);
}

.item-categories {
    color: black;
}